bin/*
lib/*
firmware/*
modules/*
extra/*
build/sysroot/*
build/hostroot/*
!bin/.gitkeep
!lib/.gitkeep
!firmware/.gitkeep
!modules/.gitkeep
!extra/.gitkeep
!build/sysroot/.gitkeep
!build/hostroot/.gitkeep
root
*.rej
*.orig
*.swp
*.save*
initramfs.cpio*
initramfs.tar*
initramfs.sfs*
zImage
boot.img
build/musl-gcc
build/meson.conf
build/toolchain.cmake
