bin/*
lib/*
firmware/*
modules/*
extra/*
!bin/.gitkeep
!lib/.gitkeep
!firmware/.gitkeep
!modules/.gitkeep
!extra/.gitkeep
root
*.rej
*.orig
*.swp
*.save*
initramfs.cpio*
initramfs.tar*
initramfs.sfs*
zImage
boot.img
