[submodule "build/advreboot"]
	path = build/advreboot
	url = https://github.com/BigfootACA/advreboot.git
[submodule "build/adbd"]
	path = build/adbd
	url = https://github.com/BigfootACA/adbd.git
[submodule "build/musl"]
	path = build/musl
	url = git://git.musl-libc.org/musl
[submodule "build/linux"]
	path = build/linux
	url = https://github.com/torvalds/linux.git
[submodule "build/util-linux"]
	path = build/util-linux
	url = https://github.com/karelzak/util-linux.git
[submodule "build/zlib"]
	path = build/zlib
	url = https://github.com/madler/zlib.git
[submodule "build/ncurses"]
	path = build/ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "build/readline"]
	path = build/readline
	url = https://git.savannah.gnu.org/git/readline.git
[submodule "build/bash"]
	path = build/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "build/busybox"]
	path = build/busybox
	url = https://git.busybox.net/busybox.git
[submodule "build/e2fsprogs"]
	path = build/e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "build/kmod"]
	path = build/kmod
	url = git://git.kernel.org/pub/scm/utils/kernel/kmod/kmod.git
[submodule "build/eudev"]
	path = build/eudev
	url = https://github.com/gentoo/eudev.git
[submodule "build/xz"]
	path = build/xz
	url = https://github.com/xz-mirror/xz.git
[submodule "build/lz4"]
	path = build/lz4
	url = https://github.com/lz4/lz4.git
[submodule "build/btrfs-progs"]
	path = build/btrfs-progs
	url = git://git.kernel.org/pub/scm/linux/kernel/git/kdave/btrfs-progs.git
[submodule "build/zstd"]
	path = build/zstd
	url = https://github.com/facebook/zstd.git
[submodule "build/bzip2"]
	path = build/bzip2
	url = git://sourceware.org/git/bzip2.git
[submodule "build/file"]
	path = build/file
	url = https://github.com/file/file.git
[submodule "build/abootimg"]
	path = build/abootimg
	url = https://github.com/ggrandou/abootimg.git
[submodule "build/lzo"]
	path = build/lzo
	url = https://github.com/BigfootACA/lzo.git
[submodule "build/f2fs-tools"]
	path = build/f2fs-tools
	url = git://git.kernel.org/pub/scm/linux/kernel/git/jaegeuk/f2fs-tools.git
[submodule "build/libdrm"]
	path = build/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "build/json-c"]
	path = build/json-c
	url = https://github.com/json-c/json-c.git
[submodule "build/lvgl-initramfs-tools"]
	path = build/lvgl-initramfs-tools
	url = https://github.com/BigfootACA/lvgl-initramfs-tools.git
[submodule "build/fuse2"]
	path = build/fuse2
	url = https://github.com/libfuse/libfuse.git
[submodule "build/fuse3"]
	path = build/fuse3
	url = https://github.com/libfuse/libfuse.git
[submodule "build/ntfs-3g"]
	path = build/ntfs-3g
	url = https://git.code.sf.net/p/ntfs-3g/ntfs-3g.git
[submodule "build/musl-fts"]
	path = build/musl-fts
	url = https://github.com/void-linux/musl-fts.git
[submodule "build/argp-standalone"]
	path = build/argp-standalone
	url = https://github.com/BigfootACA/argp-standalone.git
[submodule "build/freetype"]
	path = build/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
