bin/*
lib/*
firmware/*
modules/*
extra/*
build/sysroot/*
build/hostroot/*
build/hostroot/usr/*
build/hostroot/usr/bin/*
!bin/.gitkeep
!lib/.gitkeep
!firmware/.gitkeep
!modules/.gitkeep
!extra/.gitkeep
!build/sysroot/.gitkeep
!build/hostroot/usr
!build/hostroot/usr/bin
!build/hostroot/usr/bin/strip-wrapper
!build/hostroot/usr/bin/musl-gcc.in
root
*.rej
*.orig
*.swp
*.save*
initramfs.cpio*
initramfs.tar*
initramfs.sfs*
zImage
boot.img
build/meson.conf
build/toolchain.cmake
