ACTION=="remove",ENV{REMOVE_CMD}!="",RUN+="$env{REMOVE_CMD}"
ACTION!="remove",SUBSYSTEM=="virtio-ports",KERNEL=="vport*",ATTR{name}=="?*",SYMLINK+="virtio-ports/$attr{name}"
ACTION!="remove",SUBSYSTEM=="rtc",ATTR{hctosys}=="1",SYMLINK+="rtc"
ACTION!="remove",SUBSYSTEM=="rtc",KERNEL=="rtc0",SYMLINK+="rtc",OPTIONS+="link_priority=-100"
ACTION=="add",SUBSYSTEM=="tty",KERNEL=="ptmx",MODE="0666"
ACTION=="add",SUBSYSTEM=="tty",KERNEL=="tty",MODE="0666"
ACTION=="add",SUBSYSTEM=="tty",KERNEL=="tty[0-9]*",MODE="0620"
ACTION=="add",SUBSYSTEM=="tty",KERNEL=="sclp_line[0-9]*",MODE="0620"
ACTION=="add",SUBSYSTEM=="tty",KERNEL=="ttysclp[0-9]*",MODE="0620"
ACTION=="add",SUBSYSTEM=="tty",KERNEL=="3270/tty[0-9]*",MODE="0620"
ACTION=="add",SUBSYSTEM=="mem",KERNEL=="mem|kmem|port",MODE="0640"
ACTION=="add",SUBSYSTEM=="input",KERNEL=="js[0-9]*",MODE="0664"
ACTION=="add",SUBSYSTEM=="drm",KERNEL=="renderD*",MODE="0666"
ACTION=="add",SUBSYSTEM=="kfd",MODE="0666"
ACTION=="add",SUBSYSTEM=="usb",ENV{DEVTYPE}=="usb_device",MODE="0664"
ACTION=="add",KERNEL=="loop-control",OPTIONS+="static_node=loop-control"
ACTION=="add",KERNEL=="rfkill",MODE="0664"
ACTION=="add",KERNEL=="tun",MODE="0666",OPTIONS+="static_node=net/tun"
ACTION=="add",KERNEL=="fuse",MODE="0666",OPTIONS+="static_node=fuse"
ACTION=="add",SUBSYSTEM=="module",KERNEL=="block",ATTR{parameters/events_dfl_poll_msecs}=="0",ATTR{parameters/events_dfl_poll_msecs}="2000"
ACTION=="change",SUBSYSTEM=="scsi",ENV{DEVTYPE}=="scsi_device",TEST=="block",ATTR{block/*/uevent}="change"
ACTION!="remove",SUBSYSTEM=="block",KERNEL=="loop*|nvme*|sd*|vd*|xvd*|pmem*|mmcblk*",OPTIONS+="watch"
ACTION!="remove",SUBSYSTEM=="block",KERNEL=="sr[0-9]*|vdisk*|xvd*",ENV{DEVTYPE}=="disk",KERNEL=="sr0",SYMLINK+="cdrom",OPTIONS+="link_priority=-100"
ACTION!="remove",SUBSYSTEM=="drm",SUBSYSTEMS=="pci|usb|platform",IMPORT{builtin}="path_id"
ENV{ID_PATH}=="?*",KERNEL=="card*",SYMLINK+="dri/by-path/$env{ID_PATH}-card"
ENV{ID_PATH}=="?*",KERNEL=="controlD*",SYMLINK+="dri/by-path/$env{ID_PATH}-control"
ENV{ID_PATH}=="?*",KERNEL=="renderD*",SYMLINK+="dri/by-path/$env{ID_PATH}-render"
ACTION=="remove",GOTO="persistent_storage_end"
ENV{UDEV_DISABLE_PERSISTENT_STORAGE_RULES_FLAG}=="1",GOTO="persistent_storage_end"
SUBSYSTEM!="block",GOTO="persistent_storage_end"
KERNEL!="loop*|mmcblk*[0-9]|msblk*[0-9]|mspblk*[0-9]|nvme*|sd*|sr*|vd*|xvd*|bcache*|cciss*|dasd*|ubd*|scm*|pmem*|nbd*",GOTO="persistent_storage_end"
TEST=="whole_disk",GOTO="persistent_storage_end"
ENV{DEVTYPE}=="partition",IMPORT{parent}="ID_*"
KERNEL=="nvme*[0-9]n*[0-9]",ATTR{wwid}=="?*",SYMLINK+="disk/by-id/nvme-$attr{wwid}"
KERNEL=="nvme*[0-9]n*[0-9]p*[0-9]",ENV{DEVTYPE}=="partition",ATTRS{wwid}=="?*",SYMLINK+="disk/by-id/nvme-$attr{wwid}-part%n"
KERNEL=="nvme*[0-9]n*[0-9]",ENV{DEVTYPE}=="disk",ATTRS{serial}=="?*",ENV{ID_SERIAL_SHORT}="$attr{serial}"
KERNEL=="nvme*[0-9]n*[0-9]",ENV{DEVTYPE}=="disk",ATTRS{wwid}=="?*",ENV{ID_WWN}="$attr{wwid}"
KERNEL=="nvme*[0-9]n*[0-9]",ENV{DEVTYPE}=="disk",ATTRS{model}=="?*",ENV{ID_MODEL}="$attr{model}"
KERNEL=="nvme*[0-9]n*[0-9]",ENV{DEVTYPE}=="disk",ENV{ID_MODEL}=="?*",ENV{ID_SERIAL_SHORT}=="?*",ENV{ID_SERIAL}="$env{ID_MODEL}_$env{ID_SERIAL_SHORT}",SYMLINK+="disk/by-id/nvme-$env{ID_SERIAL}"
KERNEL=="nvme*[0-9]n*[0-9]p*[0-9]",ENV{DEVTYPE}=="partition",ATTRS{serial}=="?*",ENV{ID_SERIAL_SHORT}="$attr{serial}"
KERNEL=="nvme*[0-9]n*[0-9]p*[0-9]",ENV{DEVTYPE}=="partition",ATTRS{model}=="?*",ENV{ID_MODEL}="$attr{model}"
KERNEL=="nvme*[0-9]n*[0-9]p*[0-9]",ENV{DEVTYPE}=="partition",ENV{ID_MODEL}=="?*",ENV{ID_SERIAL_SHORT}=="?*",ENV{ID_SERIAL}="$env{ID_MODEL}_$env{ID_SERIAL_SHORT}",SYMLINK+="disk/by-id/nvme-$env{ID_SERIAL}-part%n"
KERNEL=="vd*[!0-9]",ATTRS{serial}=="?*",ENV{ID_SERIAL}="$attr{serial}",SYMLINK+="disk/by-id/virtio-$env{ID_SERIAL}"
KERNEL=="vd*[0-9]",ATTRS{serial}=="?*",ENV{ID_SERIAL}="$attr{serial}",SYMLINK+="disk/by-id/virtio-$env{ID_SERIAL}-part%n"
KERNEL=="sd*[!0-9]|sr*",ENV{ID_SERIAL}!="?*",SUBSYSTEMS=="scsi",ATTRS{vendor}=="ATA",IMPORT{program}="ata_id --export $devnode"
KERNEL=="sd*[!0-9]|sr*",ENV{ID_SERIAL}!="?*",SUBSYSTEMS=="scsi",ATTRS{type}=="5",ATTRS{scsi_level}=="[6-9]*",IMPORT{program}="ata_id --export $devnode"
KERNEL=="sd*[!0-9]|sr*",ENV{ID_SERIAL}!="?*",ATTR{removable}=="0",SUBSYSTEMS=="usb",IMPORT{program}="ata_id --export $devnode"
KERNEL=="sd*[!0-9]|sr*",ENV{ID_SERIAL}!="?*",SUBSYSTEMS=="usb",IMPORT{builtin}="usb_id"
KERNEL=="sd*[!0-9]|sr*",ENV{ID_SERIAL}!="?*",IMPORT{program}="scsi_id --export --whitelisted -d $devnode",ENV{ID_BUS}="scsi"
KERNEL=="sd*|sr*|cciss*",ENV{DEVTYPE}=="disk",ENV{ID_SERIAL}=="?*",SYMLINK+="disk/by-id/$env{ID_BUS}-$env{ID_SERIAL}"
KERNEL=="sd*|cciss*",ENV{DEVTYPE}=="partition",ENV{ID_SERIAL}=="?*",SYMLINK+="disk/by-id/$env{ID_BUS}-$env{ID_SERIAL}-part%n"
KERNEL=="sd*[!0-9]|sr*",ATTRS{ieee1394_id}=="?*",SYMLINK+="disk/by-id/ieee1394-$attr{ieee1394_id}"
KERNEL=="sd*[0-9]",ATTRS{ieee1394_id}=="?*",SYMLINK+="disk/by-id/ieee1394-$attr{ieee1394_id}-part%n"
KERNEL=="mmcblk[0-9]",SUBSYSTEMS=="mmc",ATTRS{name}=="?*",ATTRS{serial}=="?*",ENV{ID_NAME}="$attr{name}",ENV{ID_SERIAL}="$attr{serial}",SYMLINK+="disk/by-id/mmc-$env{ID_NAME}_$env{ID_SERIAL}"
KERNEL=="mmcblk[0-9]p[0-9]*",ENV{ID_NAME}=="?*",ENV{ID_SERIAL}=="?*",SYMLINK+="disk/by-id/mmc-$env{ID_NAME}_$env{ID_SERIAL}-part%n"
ENV{DEVTYPE}=="disk",DEVPATH!="*/virtual/*",IMPORT{builtin}="path_id"
KERNEL=="mmcblk[0-9]boot[0-9]",ENV{DEVTYPE}=="disk",ENV{ID_PATH}=="?*",SYMLINK+="disk/by-path/$env{ID_PATH}-boot%n"
KERNEL!="mmcblk[0-9]boot[0-9]",ENV{DEVTYPE}=="disk",ENV{ID_PATH}=="?*",SYMLINK+="disk/by-path/$env{ID_PATH}"
ENV{DEVTYPE}=="partition",ENV{ID_PATH}=="?*",SYMLINK+="disk/by-path/$env{ID_PATH}-part%n"
KERNEL=="vd*[!0-9]",ENV{ID_PATH}=="pci-*",SYMLINK+="disk/by-path/virtio-$env{ID_PATH}"
KERNEL=="vd*[0-9]",ENV{ID_PATH}=="pci-*",SYMLINK+="disk/by-path/virtio-$env{ID_PATH}-part%n"
KERNEL=="sr*",ENV{DISK_EJECT_REQUEST}!="?*",ENV{ID_CDROM_MEDIA_TRACK_COUNT_DATA}=="?*",ENV{ID_CDROM_MEDIA_SESSION_LAST_OFFSET}=="?*",IMPORT{builtin}="blkid --offset=$env{ID_CDROM_MEDIA_SESSION_LAST_OFFSET}"
KERNEL=="sr*",ENV{DISK_EJECT_REQUEST}!="?*",ENV{ID_CDROM_MEDIA_TRACK_COUNT_DATA}=="?*",ENV{ID_CDROM_MEDIA_SESSION_LAST_OFFSET}=="",IMPORT{builtin}="blkid --noraid"
KERNEL!="sr*",IMPORT{builtin}="blkid"
ENV{ID_FS_USAGE}=="filesystem|other|crypto",ENV{ID_FS_UUID_ENC}=="?*",SYMLINK+="disk/by-uuid/$env{ID_FS_UUID_ENC}"
ENV{ID_FS_USAGE}=="filesystem|other",ENV{ID_FS_LABEL_ENC}=="?*",SYMLINK+="disk/by-label/$env{ID_FS_LABEL_ENC}"
ENV{DEVTYPE}=="disk",ENV{ID_WWN_WITH_EXTENSION}=="?*",SYMLINK+="disk/by-id/wwn-$env{ID_WWN_WITH_EXTENSION}"
ENV{DEVTYPE}=="partition",ENV{ID_WWN_WITH_EXTENSION}=="?*",SYMLINK+="disk/by-id/wwn-$env{ID_WWN_WITH_EXTENSION}-part%n"
ENV{ID_PART_ENTRY_UUID}=="?*",SYMLINK+="disk/by-partuuid/$env{ID_PART_ENTRY_UUID}"
ENV{ID_PART_ENTRY_SCHEME}=="gpt",ENV{ID_PART_ENTRY_NAME}=="?*",SYMLINK+="disk/by-partlabel/$env{ID_PART_ENTRY_NAME}"
LABEL="persistent_storage_end"
ACTION!="remove",SUBSYSTEM=="tty",SUBSYSTEMS=="pci",ENV{ID_BUS}="pci",ENV{ID_VENDOR_ID}="$attr{vendor}",ENV{ID_MODEL_ID}="$attr{device}"
ACTION!="remove",SUBSYSTEM=="tty",KERNEL=="ttyUSB[0-9]*|ttyACM[0-9]*",SUBSYSTEMS=="usb-serial",ENV{.ID_PORT}="$attr{port_number}"
ACTION!="remove",SUBSYSTEM=="tty",KERNEL=="ttyUSB[0-9]*|ttyACM[0-9]*",IMPORT{builtin}="path_id"
ACTION!="remove",SUBSYSTEM=="tty",KERNEL=="ttyUSB[0-9]*|ttyACM[0-9]*",ENV{ID_PATH}=="?*",ENV{.ID_PORT}=="",SYMLINK+="serial/by-path/$env{ID_PATH}"
ACTION!="remove",SUBSYSTEM=="tty",KERNEL=="ttyUSB[0-9]*|ttyACM[0-9]*",ENV{ID_PATH}=="?*",ENV{.ID_PORT}=="?*",SYMLINK+="serial/by-path/$env{ID_PATH}-port$env{.ID_PORT}"
ACTION!="remove",SUBSYSTEM=="tty",KERNEL=="ttyUSB[0-9]*|ttyACM[0-9]*",IMPORT{builtin}="usb_id"
ACTION!="remove",SUBSYSTEM=="tty",KERNEL=="ttyUSB[0-9]*|ttyACM[0-9]*",ENV{ID_SERIAL}!="",SUBSYSTEMS=="usb",ENV{ID_USB_INTERFACE_NUM}="$attr{bInterfaceNumber}"
ACTION!="remove",SUBSYSTEM=="tty",KERNEL=="ttyUSB[0-9]*|ttyACM[0-9]*",ENV{ID_SERIAL}!="",ENV{ID_USB_INTERFACE_NUM}!="",ENV{.ID_PORT}=="",SYMLINK+="serial/by-id/$env{ID_BUS}-$env{ID_SERIAL}-if$env{ID_USB_INTERFACE_NUM}"
ACTION!="remove",SUBSYSTEM=="tty",KERNEL=="ttyUSB[0-9]*|ttyACM[0-9]*",ENV{ID_SERIAL}!="",ENV{ID_USB_INTERFACE_NUM}!="",ENV{.ID_PORT}=="?*",SYMLINK+="serial/by-id/$env{ID_BUS}-$env{ID_SERIAL}-if$env{ID_USB_INTERFACE_NUM}-port$env{.ID_PORT}"
ACTION=="add",ENV{MODALIAS}=="?*",RUN{builtin}+="kmod load $env{MODALIAS}"
ACTION=="add",SUBSYSTEM=="tifm",ENV{TIFM_CARD_TYPE}=="SD",RUN{builtin}+="kmod load tifm_sd"
ACTION=="add",SUBSYSTEM=="tifm",ENV{TIFM_CARD_TYPE}=="MS",RUN{builtin}+="kmod load tifm_ms"
ACTION=="add",KERNEL=="mtd*ro",ENV{MTD_FTL}=="smartmedia",RUN{builtin}+="kmod load sm_ftl"
ACTION=="add",SUBSYSTEM=="graphics",KERNEL=="fb[0-9]",SYMLINK+="graphics/$kernel"
ACTION=="add",SUBSYSTEM=="block",SYMLINK+="block/$kernel"
ACTION=="add",SUBSYSTEM=="block",ENV{PARTNAME}=="?*",SYMLINK+="block/by-name/$env{PARTNAME}"
